@use './theme/colors.scss' as colors;
@use './theme/reset.scss';

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;

  font-family: Arial, Helvetica, sans-serif;

  overflow: hidden;
}

#canvas-wrapper {
  position: absolute;
  inset: 0;

  #canvas {
    position: absolute;
    inset: 0 0 0 0;

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }

  #labels-layer {
    position: absolute;
    inset: 0 0 0 0;

    pointer-events: none; // stop layer from blocking canvas

    .label-container {
      pointer-events: auto; // allow labels to block canvas

      font-size: inherit;
      position: absolute;

      // centres label around its position
      display: flex;
      justify-content: center;
      align-items: center;
      height: 0px;
      width: 0px;

      .label {
        display: flex;
        flex-direction: row;

        text-align: center;

        background-color: rgba(0, 0, 0, 0.55);
        color: #fff;

        border-radius: 1em;

        .label-input {
          all: unset;      // removes almost all default input styling
          font: inherit;
          color: inherit;

          flex: 0 0 auto;
        }

        .edit-label-btn {
          font-size: inherit; 
          height: 1em;
          width: 1em;

          margin-left: 0.35em;

          display: inline-flex; // makes sizing predictable
          align-items: center;
          justify-content: center;

          border-radius: 30%;

          cursor: pointer;

          img {
            display: block; // avoids inline-img baseline weirdness
            height: 80%;
            width: auto;
          }

          &:hover {
            background-color: rgba(255, 255, 255, 0.55);
          }
        }
      }
    }
  }
}

#ui {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  .modal-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.75);

    .modal {
      display: flex;
      flex-direction: column;

      min-width: min(30%, 500px);

      $border-radius: 20px;
      border-radius: $border-radius;

      .modal-title {
        display: flex;
        align-items: center; // vertically centers contents
        padding: 5px 10px;

        background-color: colors.$primary-blue;
        color: white;
        border-radius: $border-radius $border-radius 0 0;

        .modal-close {
          margin-left: auto;
          display: flex;
          align-items: center;

          svg {          
            height: 1.6rem;
            color: white;
            width: auto;

            transition: color 100ms;
            cursor: pointer;

            &:hover {
              color: colors.$exit-red;
            }
          }
        }
      }


      .modal-body {
        flex: 1;
        padding: 5px 10px 5px 10px;
        border-radius: 0 0 $border-radius $border-radius;

        background-color: white;
      }
    }
  }

  #chip-selection-box {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 300px;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    padding: 10px 20px 10px 20px;

    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 20px;

    color: white;

    &.closed {
      #chip-selection-box-content {
        display: none;
      }
    }
    &.open {
      bottom: 50px;
    }

    &-title {
      flex: 0 0 auto;

      display: flex;
      align-items: center;

      cursor: pointer;
      user-select: none;

      background-color: rgba(0, 0, 0, 0);
      border: none;
      color: white;

      h2 {  margin: 0; font-size: 1.5rem; }
    }

    // left arrow (chevron) built with borders
    &-chev {
      width: 10px;
      height: 10px;

      border-right: 2px solid white;
      border-bottom: 2px solid white;

      margin-left: auto;

      // points left by default
      transform: rotate(135deg);
      transition: transform 160ms ease;
    }

    &.open #chip-selection-box-chev {
      transform: rotate(45deg); // down
    }

    &-content {
      flex: 1 1 auto;
      min-height: 0;

      display: flex;
      flex-direction: column;

      margin-top: 20px;

      &-chips,
      &-input-output {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
      }
      &-chips {
        min-height: 0;
        overflow: auto;
      }
      &-input-output {
        margin-top: auto;

        padding-top: 15px;            // spacing from divider
        border-top: 2px solid #b5b5b5;   // divider line
      } 

      .chip-preview {
        width: 100%;

        display: flex;
        flex-direction: column;

        cursor: pointer;

        .img-container {
          width: 100%;
          aspect-ratio: 1 / 1;   // forces a square

          display: flex;
          align-items: center;

          img {
            width: 100%;
          }
        }

        h3 {
          text-align: center;
          margin-top: 10px;
          color: #fff;
        }
      }
    }
  }

  #save-chip-btn {
    position: absolute;

    bottom: 50px;
    right: 50px;

    padding: 30px 40px 30px 40px;

    background-color: colors.$primary-blue;

    font-size: 1.75rem;
    color: white;
    font-weight: 600;

    border: none;
    border-radius: 30px;

    cursor: pointer;
  }
}