html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

#canvas-wrapper {
  position: absolute;
  inset: 0;

  #canvas {
    position: absolute;
    inset: 0 0 0 0;

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
}

#ui {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  #chip-selection-box {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 300px;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    padding: 10px 20px 10px 20px;

    background-color: rgba(0, 0, 0, 0.55);
    border-radius: 20px;

    font-family: Arial, Helvetica, sans-serif;
    color: white;

    &.closed {
      #chip-selection-box-content {
        display: none;
      }
    }
    &.open {
      bottom: 50px;
    }

    &-title {
      flex: 0 0 auto;

      display: flex;
      align-items: center;

      cursor: pointer;
      user-select: none;

      background-color: rgba(0, 0, 0, 0);
      border: none;
      color: white;

      h2 {  margin: 0; font-size: 1.5rem; }
    }

    // left arrow (chevron) built with borders
    &-chev {
      width: 10px;
      height: 10px;

      border-right: 2px solid white;
      border-bottom: 2px solid white;

      margin-left: auto;

      // points left by default
      transform: rotate(135deg);
      transition: transform 160ms ease;
    }

    &.open #chip-selection-box-chev {
      transform: rotate(45deg); // down
    }

    &-content {
      flex: 1 1 auto;
      min-height: 0;

      display: flex;
      flex-direction: column;

      margin-top: 20px;

      &-chips,
      &-input-output {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
      }
      &-chips {
        min-height: 0;
        overflow: auto;
      }
      &-input-output {
        margin-top: auto;

        padding-top: 15px;            // spacing from divider
        border-top: 2px solid #b5b5b5;   // divider line
      } 

      .chip-preview {
        width: 100%;

        display: flex;
        flex-direction: column;

        background-color: rgba(0, 0, 0, 0);
        border: none;
        cursor: pointer;

        .img-container {
          width: 100%;
          aspect-ratio: 1 / 1;   // forces a square

          display: flex;
          align-items: center;

          img {
            width: 100%;
          }
        }

        h3 {
          text-align: center;
          margin-top: 10px;
          color: #fff;
        }
      }
    }
  }
}