html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;

  overflow: hidden;
}

#canvas-wrapper {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;

  #canvas {
    position: absolute;
    inset: 0 0 0 0;

    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;

    cursor: grab;
  }
}